In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("./ficheros_pandas/info_tiburones.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6286 entries, 0 to 6285
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             6285 non-null   object
 1   Fatal (Y/N)             5751 non-null   object
 2   Injury                  6258 non-null   object
 3   Date                    6286 non-null   object
 4   year                    6284 non-null   float64
 5   type                    6280 non-null   object
 6   country                 6234 non-null   object
 7   area                    5830 non-null   object
 8   location                5745 non-null   object
 9   activity                5742 non-null   object
 10  name                    6075 non-null   object
 11  sex_                    5720 non-null   object
 12  age                     3464 non-null   object
 13  time                    2944 non-null   object
 14  species_                3453 non-null   object
 15  href                    6284 non-null   object
 16  Investigator or Source  169 non-null    object
 17  pdf                     170 non-null    object
 18  href formula            170 non-null    object
 19  Case Number.1           170 non-null    object
 20  Case Number.2           170 non-null    object
 21  original order          170 non-null    float64
dtypes: float64(2), object(20)
memory usage: 1.1+ MB

In [4]:
# Ejercicio 1. Cuántos ataques hubo por país? Devuelve un DataFrame. (ordénalos de mayor a menor. Usa .sort_values())

ataques = pd.DataFrame(df.groupby("country")["country"].count().sort_values(ascending=False))
ataques.head()

                  country
country
USA                  2222
AUSTRALIA            1335
SOUTH AFRICA          577
PAPUA NEW GUINEA      134
NEW ZEALAND           127

In [62]:
# Ejercicio 2. ¿Cuántos ataques ha habido por año? Devuelve un DataFrame. De nuevo ordena los resultados de mayor a menor.
ataques_ano = pd.DataFrame(df.groupby("year")["year"].count().sort_values(ascending=False))
ataques_ano.head()

        year
year
2015.0   143
2017.0   136
2016.0   130
2011.0   128
2014.0   126

In [6]:
# ¿Cuántos ataques hubo por año y sexo? Devolved un DataFrame solo del año 2000 en adelante.
ataque_2000 = df[df["year"] >= 2000]
ataque_2000

,case_number,Fatal (Y/N),Injury,Date,year,type,country,area,location,activity,...,age,time,species_,href,Investigator or Source,pdf,href formula,Case Number.1,Case Number.2,original order
0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,...,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,...,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
2,2018.06.09,N,Injury to left lower leg from surfboard skeg,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,...,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
3,2018.06.08,N,Minor injury to lower leg,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,...,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
4,2018.06.04,N,Lacerations to leg & hand shark PROVOKED INCIDENT,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,...,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2068,2000.02.03,N,"No injury, wetsuit punctured",03-Feb-2000,2000.0,Unprovoked,NEW ZEALAND,South Island,Oreti Beach (reported as the 4th person bitten...,Surfing,...,12,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
2069,2000.02.01,N,Hand bitten,01-Feb-2000,2000.0,Unprovoked,AUSTRALIA,South Australia,"Point Sinclair, Cactus Beach near Penong",Surfing,...,26,NaN,3 m [10'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
2070,2000.01.28.R,Y,FATAL,Reported 28-Jan-2000,2000.0,Boat,REUNION,NaN,Saint Pierre,Canoe with 3 men onboard sank,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
2071,2000.01.05,Y,FATAL,05-Jan-2000,2000.0,Unprovoked,THAILAND,Phang nga Province,Phang nga Island,Diving,...,35,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
2072,2000.00.00,N,No injury to occupant; shark bit propeller,2000,2000.0,Boat,USA,Florida,"Boca Grande, Lee County",Fishing for tarpon,...,NaN,NaN,Hammerhead shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:

ataques_ano_sex = ataque_2000.groupby(["year","sex_"])['type'].count()
df_ataques_ano_sex = pd.DataFrame(ataques_ano_sex)
df_ataques_ano_sex.head()

             type
year   sex_
2000.0 F       12
       M       74
2001.0 F       13
       M       71
2002.0 F        9

In [ ]:
# Primero extraed solo las filas que correspondan a USA, AUSTRALIA y SOUTH AFRICA. 
# ¿Cuántos de los ataques fueron letales por sexo? Devuelve un DataFrame.

In [9]:
ataques_uas = df[(df["country"] == "USA") | (df["country"] == "SOUTH AFRICA") | (df["country"] == "AUSTRALIA")]
ataques_uas

,case_number,Fatal (Y/N),Injury,Date,year,type,country,area,location,activity,...,age,time,species_,href,Investigator or Source,pdf,href formula,Case Number.1,Case Number.2,original order
0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,...,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,...,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
2,2018.06.09,N,Injury to left lower leg from surfboard skeg,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,...,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
3,2018.06.08,N,Minor injury to lower leg,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,...,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
5,2018.06.03.b,N,"No injury, board bitten",03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6279,ND.0007,Y,FATAL,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,...,NaN,NaN,Blue pointers,http://sharkattackfile.net/spreadsheets/pdf_di...,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0007 - Fisherman-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0007,ND.0007,8.0
6280,ND.0006,Y,FATAL,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,...,NaN,NaN,Said to involve a grey nurse shark that leapt ...,http://sharkattackfile.net/spreadsheets/pdf_di...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7.0
6281,ND.0005,Y,FATAL,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0
6282,ND.0004,Y,FATAL,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0
6283,ND.0003,Y,FATAL,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0

In [50]:
ataques_uas_groupby = pd.DataFrame(ataques_uas.groupby(["sex_", "Fatal (Y/N)", "country"])["case_number"].count()).reset_index()

letales = ataques_uas_groupby[ataques_uas_groupby["Fatal (Y/N)"] == "Y"]
letales

   sex_ Fatal (Y/N)       country  case_number
6     F           Y     AUSTRALIA           17
7     F           Y  SOUTH AFRICA            5
8     F           Y           USA           13
16    M           Y     AUSTRALIA          264
17    M           Y  SOUTH AFRICA          100
18    M           Y           USA          169

In [ ]:
# Ejercicio 5. Usando el DataFrame creado en el ejercicio anterior. ¿En qué país hubo más ataques?

In [51]:
letales.max()

sex_             M
Fatal (Y/N)      Y
country        USA
case_number    264
dtype: object

In [53]:
# Ejercicio 6. ¿Qué y cuántos tipos de ataques hubo por país?

ataques_uas.head(3)

,case_number,Fatal (Y/N),Injury,Date,year,type,country,area,location,activity,...,age,time,species_,href,Investigator or Source,pdf,href formula,Case Number.1,Case Number.2,original order
0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,...,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,...,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
2,2018.06.09,N,Injury to left lower leg from surfboard skeg,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,...,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
estudio = pd.DataFrame(ataques_uas.groupby(["country","type"])["case_number"].count())
estudio

                           case_number
country      type
AUSTRALIA    Boat                   39
             Boating                83
             Invalid               118
             Provoked              136
             Questionable            2
             Sea Disaster           24
             Unprovoked            932
SOUTH AFRICA Boat                   37
             Boating                15
             Invalid                64
             Provoked               54
             Sea Disaster            5
             Unprovoked            402
USA          Boat                   23
             Boating                52
             Invalid               192
             Provoked              205
             Sea Disaster           32
             Unprovoked           1717